#logoDown, #whatsapp, #instagram {
    width: 50px;
    height: 50px;
    border: #8B4513 solid 2px;
    border-radius: 100%;
}
#whatsapp {
    margin-left: 950px;
}
.meu-link-personalizado {
    color: #FFD700;
}
.meu-link-personalizado:hover{
    color: #8B4513;
}
#footer {
    width: 100vw;
}