main {
    background: #000000;
    background: linear-gradient(347deg, rgba(0, 0, 0, 1) 30%, rgba(75, 0, 130, 1) 100%);
    height: 100vh;
    display: flex;
}
.input-group .form-control {
    width: 50px;
}
.card {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
h5{
    margin-top: 10px;
}
#title{
    text-decoration: none;
    color: inherit;
}