body {
    background: #000000;
    background: linear-gradient(347deg, rgba(0, 0, 0, 1) 30%, rgba(75, 0, 130, 1) 100%);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;  
}
#tela{
    border: #FFD700 1px solid;
    box-shadow: 0 4px 8px #8B4513;
    width: 600px;
    height: 400px;
}
.btn-custom {
    color: #8B4513;
    border-color: #8B4513;
    margin-top: 40px;
    height: 40px;
    width: 300px;
}
.btn-custom:hover {
    background-color: #8B4513;
    color: #FFD700;
}
#links{
    margin-top: 50px;
}
#links a{
    color: #8B4513;
    text-decoration: none;
}
#esqueceu{
    margin-left: 200px;
}
#links a:hover{
    color: #FFD700;
}
.form-floating{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #8B4513;
}
.card-header{
    background-color: #8B4513;
    color: #FFD700;
    border-radius: 200px 200px 0 0;
}